.Hero {
	position: relative;
}

.Hero_Header {
	display: flex;
	width: 100%;
	position: fixed;
	padding: 10px 20px;
}

.Hero_Header .Logo_Container {
	width: 100px;
	height: 100px;
}

.Hero_Header .Logo_Container img {
	width: 100%;
	height: 100%;
}

.Hero_Text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.red_text {
	color: red;
}

.blue_text {
	color: blue;
}

.Hero_Text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.Hero_Text--description {
	font-size: 30px;
	color: #fff;
	text-align: center;
}

.Hero_Text > button {
	outline: none;
	border: none;
	padding: 10px 50px;
	font-size: 15px;
	background-color: blue;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

/* Responsive Adjustments */

@media (max-width: 768px) {
	.Hero_Header .Logo_Container {
		width: 80px;
		height: 80px;
	}

	.Hero_Text--description {
		font-size: 25px;
	}

	.Hero_Text > button {
		padding: 8px 40px;
		font-size: 13px;
	}
}

@media (max-width: 480px) {
	.Hero_Text {
		transform: translate(-50%, -50%);
		top: 40%;

		scale: 0.8;
	}
	.Hero_Header .Logo_Container {
		width: 60px;
		height: 60px;
	}

	.Hero_Text--description {
		font-size: 12px;
	}

	.Hero_Text > button {
		padding: 6px 30px;
		font-size: 12px;
	}
}
